*{
   margin: 0;
   padding: 0; 
}
body{
   background: #a0a0a0;
    /* url(imag/background.jpg) no-repeat;
   background-size: cover ;
   background-position: center; */
}
a{
   text-decoration: none;
   color:  #000 ;
   padding: 6px 15px;
}
header{
 
   display: flex;
   justify-content: space-between;
   align-items: center;
   height:80px;
   /* background :rgba(255, 255, 255, 0.5);  */
   
}
header .logo{
   font-size: 30px;
   text-transform: uppercase;
}
header ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}
header ul li{
   margin-right: 30px;
}
header ul li a{
   padding: 6px 15px;
   border-radius: 20px;
   background :rgba(255, 255, 255, 0.5); 

}
 
header ul li a:hover {
 
   background: #fff;
   color:  #b0a995 ;

}

section{
   
   margin-top: 10px; 
   margin-left: 100px;
}
.main{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   padding: 10% 0%; 
   margin: 20px;
   background :rgba(255, 255, 255, 0.1); 
   border-radius: 20px; 
}
.imagS{
   display: none;
}
 
.text{
   width: 600px;
   height:600px; 
   border-radius: 20px; 
   
}
.Title {
   display: flex;
   justify-content: center;
   font-size: 50px;
   margin-bottom: 50px;
   color: #000;
 
}
.main img {
   width: 600px;
   height:600px; 
   
} 
.mainTEXTP{
   font-size: 25px;
   display: flex;
   justify-content: center;
   text-align: center;
   margin-bottom: 50px;
   color: #000;
}
.Communication{
   display: flex;
   justify-content: center;
   font-size: 50px;
   margin-bottom: 50px;
 
} 
.Communication_cart{
   transition: 0.7s ease;
}
.Communication .Communication_cart:hover {
 
   transform: scale(1.5);
   
   }
 
.title{
   display: flex;
   justify-content: center;
   font-size: 50px;
   margin-bottom: 50px; 
}
.cards{
   
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   padding: 10% 0%; 
   margin: 20px;
   background :rgba(255, 255, 255, 0.1); 
   border-radius: 20px;  
}
.content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   
   padding: 1% 0%; 
   margin: 5px;
}
.cart{
   background:rgba(255, 255, 255, 0.5);  
   height:250px;
   width: 150px;
   box-shadow: o 5px 25px rgb(91, 81, 81);
   padding: 25px;
   margin: 15px;
   transition: 0.7s ease;
   margin-right: 30px;
  
   border-radius: 20px;
}
.cart:hover {
 
transform: scale(1.1);

}
.icen img{
   padding: 0% 15%; 
   width:  100px;
   height: 100px;
   /* background:   #fff; */
   border-radius: 20px; 
}
.info{
   display: flex;
   justify-content: center;
   font-size: 20px;
   
}
.url a i {
   display: flex;
   justify-content: center;
   font-size: 50px;
   margin-bottom: 50px;
   color: #000;
}
.footer{
   height: 25px;
   background:rgba(255, 255, 255, 0.5);  
   padding: 2em;
   justify-content: space-between;  
    display: flex;

}
.footer-title{
   font-size: 1.3em;
   font-weight: 600;  
}
.Communication2{
   display: flex;
   justify-content: center;
   font-size: 30px;
}
@media (max-width:1023px)   {
     .main img {
      
      width: 300px;
      height:300px; 
      
   } 
   .imagA{
      display: block;
   }
   .imagS{
      display: none;
   }
   section{
   
      margin-top: 10px; 
      margin-left: 50px;
   }
   .main{
      height:700px;
   }
   .mainTEXTP{
      font-size: 15px;
   
   }
   .cart{
      height:200px; 
   }
   .footer-title{
      font-size: 15px;
      font-weight: 400;  
   }
   .Title {
    
      font-size: 30px;
     
    
   }
   .Communication2{
      
      font-size: 20px;
   }
  
}